# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore virtual environments
.venv/

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore dependencies
node_modules/

# Ignore build files
/dist/
/build/

# Ignore temporary files
*.tmp
*.temp

# Ignore Python bytecode and cache directories
__pycache__/
*.pyc
*.pyo
